:root{
    --primary: #F58021;
    --primary-hover: #D26004;
    --extra:#00A092;
    --extra-hover: #80CFC8;
    --secondary-hover: #20113D; 
    --feedback-hover:#00A092;
    --black: #000000;
    --white: #FFFFFF; 
   

}

